@model implementacija.Models.ArhivaKorisnikaUstanova

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ArhivaKorisnikaUstanova</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class ="form-control" asp-items="ViewBag.KorisnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="imaoUplata" class="control-label"></label>
                <input asp-for="imaoUplata" class="form-control" />
                <span asp-validation-for="imaoUplata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kreiraoRacun" class="control-label"></label>
                <input asp-for="kreiraoRacun" class="form-control" />
                <span asp-validation-for="kreiraoRacun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napustioSistem" class="control-label"></label>
                <input asp-for="napustioSistem" class="form-control" />
                <span asp-validation-for="napustioSistem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
