@model implementacija.Models.VIP

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VIP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VIPId" />
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class="form-control" asp-items="ViewBag.KorisnikId"></select>
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prezime" class="control-label"></label>
                <input asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brojKartice" class="control-label"></label>
                <input asp-for="brojKartice" class="form-control" />
                <span asp-validation-for="brojKartice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumRodjenja" class="control-label"></label>
                <input asp-for="datumRodjenja" class="form-control" />
                <span asp-validation-for="datumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipFizickogLica" class="control-label"></label>
                <input asp-for="tipFizickogLica" class="form-control" />
                <span asp-validation-for="tipFizickogLica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stanjeRacuna" class="control-label"></label>
                <input asp-for="stanjeRacuna" class="form-control" />
                <span asp-validation-for="stanjeRacuna" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="odgovornoLice" /> @Html.DisplayNameFor(model => model.odgovornoLice)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="uplatioClanarinu" /> @Html.DisplayNameFor(model => model.uplatioClanarinu)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="iznosClanarine" class="control-label"></label>
                <input asp-for="iznosClanarine" class="form-control" />
                <span asp-validation-for="iznosClanarine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trajanjeClanarine" class="control-label"></label>
                <input asp-for="trajanjeClanarine" class="form-control" />
                <span asp-validation-for="trajanjeClanarine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresa" class="control-label"></label>
                <input asp-for="adresa" class="form-control" />
                <span asp-validation-for="adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
