@model implementacija.Models.ArhivaKorisnikaFL

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ArhivaKorisnikaFL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ArhivaKorisnikaFLId" />
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class="form-control" asp-items="ViewBag.KorisnikId"></select>
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="izvrsioTransakciju" class="control-label"></label>
                <input asp-for="izvrsioTransakciju" class="form-control" />
                <span asp-validation-for="izvrsioTransakciju" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ukupnoUplatio" class="control-label"></label>
                <input asp-for="ukupnoUplatio" class="form-control" />
                <span asp-validation-for="ukupnoUplatio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="bioOdgovornoLice" /> @Html.DisplayNameFor(model => model.bioOdgovornoLice)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TipFizickogLicaId" class="control-label"></label>
                <select asp-for="TipFizickogLicaId" class="form-control" asp-items="ViewBag.TipFizickogLicaId"></select>
                <span asp-validation-for="TipFizickogLicaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kreiraoRacun" class="control-label"></label>
                <input asp-for="kreiraoRacun" class="form-control" />
                <span asp-validation-for="kreiraoRacun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napustioApp" class="control-label"></label>
                <input asp-for="napustioApp" class="form-control" />
                <span asp-validation-for="napustioApp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
