@model implementacija.Models.Registracija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa d-inline fa-lg fa-circle-o"></i>
                <b>EventManager</b>
            </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar11">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link" href="#">Eventi</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Registracija</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Admin</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5" style="">
                    <h1 class="display-3">Registracija novog korisnika</h1>
                </div>
                <div class="col-md-3  offset-md-3" style="">
                    <div class="form-group"><input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search"></div>
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-light mb-4">Drago nam je što želite biti dio našeg društva! Odaberite profil</h1>
                </div>
            </div>
            <div class="row text-dark">
                <div class="col-lg-4 p-3">
                    <div class="card text-center">
                        <div class="card-body p-4">
                            <h3>Korisnički profil</h3>
                            <p class="my-3 lead">Besplatni</p>
                            <p>
                                <a asp-controller="FizickoLice" asp-action="Create">Prijava</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card text-center">
                        <div class="card-body p-4">
                            <h3>Korisnički VIP profil</h3>
                            <p class="my-3 lead">Za 5$ mjesečno postanite VIP</p>
                            <p>
                                <a asp-controller="VIP" asp-action="Create">Prijava</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card text-center">
                        <div class="card-body p-4">
                            <h3>Ustanova</h3>
                            <p class="my-3 lead">Kreirajte profil za ustanovu</p>

                            <p>
                                <a asp-controller="Ustanova" asp-action="Create">Prijava</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
