<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa d-inline fa-lg fa-circle-o"></i>
                <b> EventManager</b>
            </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar11">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link" href="#">Početna</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Eventi</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Admin</a> </li>
                </ul>
                <a class="btn btn-primary navbar-btn ml-md-2">Kontaktirajte nas</a>
            </div>
        </div>
    </nav>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; EventManager</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="" style="">Dobro došli u Event Manager! Na jednom mjestu možete naći kulturne događaje, novosti iz kulturnih ustanova te informacije o kulturnim ustanovama.&nbsp;<br>Ukoliko već niste, savjetujemo Vam da se registrujete zbog ostvarivanja pogodnosti i lakše rezervacije.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-light mb-4">Istražite aplikaciju</h1>
                </div>
            </div>
            <div class="row text-dark">
                <div class="col-lg-4 p-3">
                    <div class="card text-center">
                        <div class="card-body p-4">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active"> Događaji</a>
                                <a href="#" class="list-group-item list-group-item-action">Događaj1</a>
                                <a href="#" class="list-group-item list-group-item-action">Događaj2</a>
                                <a href="#" class="list-group-item list-group-item-action">Događaj3</a>
                                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                            </div> <a class="btn btn-link" href="#">Pročitajte više</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card text-center">
                        <div class="card-body p-4">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">Novosti iz ustanova</a>
                                <a href="#" class="list-group-item list-group-item-action">Ustanova1</a>
                                <a href="#" class="list-group-item list-group-item-action">Ustanova2</a>
                                <a href="#" class="list-group-item list-group-item-action">Ustanova3</a>

                            </div>
                            <p>
                                <a asp-controller="Ustanova" asp-action="Index">Pročitajte više</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card text-center">
                        <div class="card-body p-4">
                            <h3>Registracija</h3>
                            <p class="my-3 lead">Budite u korak sa događanjima!</p> 
                            <p>
                                <a asp-controller="Registracija" asp-action="Create">Registracija</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 w-25" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="">Ustanove u bazi podataka</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 w-25" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-11" style="">
                    <div class="table-responsive">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Ustanova</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ustanova1</td>
                                </tr>
                                <tr>
                                    <td>Ustanova2</td>
                                </tr>
                                <tr>
                                    <td>Ustanova3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6 p-3 bg-info" style="">
                    <h5> <b>Eventi</b></h5>
                    <ul class="list-unstyled">
                        <li class="text-secondary bg-info"> <a href="#">S</a>pisak</li>
                        <li> <a href="#" class="bg-info">Ustanove</a> </li>
                        <li> <a href="#">Rezervacija</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6 p-3 bg-info">
                    <h5>Ustanove</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#">I</a>nfo</li>
                        <li> <a href="#">Evneti</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 p-3 bg-info">
                    <h5> <b>O nama</b></h5>
                </div>
                <div class="col-lg-3 col-md-6 p-3 bg-info">
                    <h5> <b>Kontakt</b></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-5">
        <div class="container" style="	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black;">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-3 w-100">We <i class="fa fa-fw fa-heart d-inline text-danger"></i> new friends</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 bg-primary">
                    <a href="#" class="text-muted">
                        <i class="fa fa-fw fa-facebook fa-2x mx-3"></i>
                    </a> <a href="#" class="text-muted">
                        <i class="fa fa-fw fa-twitter fa-2x mx-3"></i>
                    </a> <a href="#" class="text-muted">
                        <i class="fa fa-fw fa-2x fa-google-plus mx-3"></i>
                    </a> <a href="#" class="text-muted">
                        <i class="fa fa-fw fa-instagram fa-2x mx-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" style=""></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>